html, body{
  width:100%;
  height:100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.backgrd{
	background-color: #f7f8f9;
	/*background-image: url("../../../backgrounds/80.jpg")s;*/
	
	/* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	
}


a {
    color: rgb(24, 86, 169);
}

.btn:hover,
.btn:active {
  font-weight: bold;
  letter-spacing: 0.1px;
}

.nav-tabs .nav-item {
  margin-bottom: -4px;
  margin-top: 5px;
}

.nav_shadow {
  box-shadow: 0 0px 3px 0 rgba(0,0,0,.18), 0 2px 7px 0 rgba(0,0,0,0.05);
}

.esna_logo{
  padding-top: 40px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
}

.center {
  display: block;
  margin: 0 auto;
}

.input_login {
  display: block;
  margin: 0 auto;
  border: transparent;
  border-bottom: 1px solid black;
  width: 350px;
}

.login_button {
  background-color: #1856a9;
  color: white;
  width: 170px;
  height: 50px;
  border-radius: 160px;
}

.firstname {
  width: 170px;
  margin-right: 20px;
  display: 'inline-block';
  margin-right: -50px;
  margin-bottom: 30px;
  border: transparent;
  border-bottom: 1px solid black;
  margin-right: 10px;
}

.lastname {
  width: 170px;
  display: 'inline-block';
  margin-bottom: 30px;
  border: transparent;
  border-bottom: 1px solid black;
}

.backtologin{
  color:#a9a8a8;
  text-align: center;
   padding-top: 10px;
}

.loginfooter {
  float: right;
  padding-right: 20px;
}

.loginfooter_parent {
  bottom: 0;
  position: absolute;
  left: 30%;
  right: 30%;
}


.loginheadline {
  color: black;
  text-align: center;
  font-size : 20px;
  padding-bottom: 35px;
  text-shadow: 0px 0px 3px white;
}

.errorMessage{
  color: red;
  text-align: center;
  font-size : 18px;
  padding-top: 10px;
  margin-bottom:0;
}


.infoMessage{
  text-align: center;
  font-size : 18px;
  margin:0;
}

.heigh100 {height:100% !important;}

.center_loginform{
    background-color: rgba(255,255,255, 0.6);
    border: 1px solid #efefef;
    width: 500px;
    height: 520px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;	
}

.center_signupform{
    background-color: white;
    border: 1px solid #efefef;
    width: 580px;
    height: 640px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;

}

.center_email_confirm{
    background-color: white;
    border: 1px solid #efefef;
    width: 580px;
    height: 330px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;

}

.resend_reg_center{
	max-height:550px;
    overflow: auto;
    text-align: center;
	
}


@media Screen and (max-height: 560px){
  .resend_reg_center{
    height: 380px;
  }
}

@media Screen and (max-width: 870px){
  .center_loginform{
    width: 450px;
	length:auto;
  }
}

.keinMitglied{
	color: white;
	float: right;
	padding-top: 23px; 
	font-size: 16px;
	/*text-shadow: 1px 0px 1px white;*/
}

.registrieren_botton{
    border: 2px solid rgb(24, 86, 169);
    margin: 10px 22px;
    padding: 10px 22px;
    float: right;
	background-color: rgba(255,255,255, 0.6);
}

.whitehover:hover{
  color:white;
}



.registrieren_botton:hover{
    background-color: rgb(24, 86, 169);
    color:white !important;
}

.errorshake {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}
@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border: transparent;
    border-bottom: 2px solid #017fb2;
    background-color: #f7f8fa;
}

.col {
    padding-right: 10px;
    padding-left: 10px;
}

.active {
  font-size: 19px !important;
  margin-top: -3px;
}

.active:hover{
  color: #495057 !important;
  border-color: #dee2e6 #dee2e6 #fff;
  border: transparent;
  border-bottom: 2px solid #017fb2 !important;
  background-color: #f7f8fa;
}

.nav-link {
    color: #a9a8a8;
    font-size: 15px;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
  color: black;
}

/* POST STATUS STYLE*/
#new_status {
  background-color: #FFF;
  border: 1px solid rgb(232, 233, 235);
  margin-top: -16px;
}

#post_header {
  border-bottom: solid #E8E8E8 1px;
  margin: 0 2%;
  padding: 0.65rem 0;
  width: 95.75%;
}
#post_header li {
  display: inline-block;
}
#post_header a {
  font-size: 1.2rem;
  padding: 1rem 0;
  text-decoration: none;
}
#post_header li+li {
  border-left: solid #E8E8E8 1px;
}
#post_header li:first-child a {
  padding: 0 1rem 0 0;
}
#post_header li:nth-child(2) a {
  padding: 0 1rem;
}
#post_header li:last-child a {
  padding: 0 0 0 1rem;
}
#post_header .glyphicon {
  margin-right: 0.5rem;
}

#post_content {
  margin: 0 2%;
  padding: 0;
  width: 95.75%;
}
#post_content img {
  border: solid #DDD 1px;
  margin: 1.25rem 0;
  padding: 0;
}
#post_content .textarea_wrap {
  cursor: text;
}
#post_content textarea {
  border: 0;
  margin: 0rem 0 0.5rem 0;
  outline: 0;
  padding: 2.5rem 0 0 1.25rem;
  resize: none;
}

#post_footer {
  border-top: solid #E8E8E8 1px;
  line-height: 3rem;
  padding: 0 2% 0 3%;
}
#post_footer .navbar-nav {
  padding: 0;
}
#post_footer .navbar-nav li {
  display: inline-block;
}
#post_footer .navbar-nav a {
  display: block;
  padding: 2rem 1.25rem 2.2rem 1.25rem;
}
#post_footer .navbar-nav .glyphicon {
  line-height: 0;
}
#post_footer :not(.btn) .glyphicon {
  color: #999;
}
#post_footer div {
  padding: 0;
  text-align: right;
}
#post_footer .btn {
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin-top: 0.75rem;
  padding: 0 0.75rem;
  vertical-align: middle;
}
#post_footer .btn-default {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .btn-default .glyphicon {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .caret {
  color: #666;
  margin-left: 0.5rem;
}
#post_footer .btn-primary {
  background-color: white;
  padding: 0 2rem;
  color: black;
  border: 1px solid #007fb2;
}

button {
  background-color: white;
}

.einschreiben{
  position: 'absolute';
  top: '50%';
  transform: 'translateY(-50%)';
  right: '8%';
  border-radius: '20px';
  padding: '10px 30px';
  border: '1px solid #007fb2';
  color: '#007fb2';
}

.remove_article {
  font-size: 20px;
  margin-top: -20px;
  color:black;
}
.remove_button_arrow{
  background-color: transparent;
  border: none;
  color:white;
}
.remove_button_arrow:focus {outline:0;}


.comtained{
  opacity: 0.6;
  margin-top: -20px;
  margin-bottom: 40px;
  background-color: #f9f9f9;
  padding-top: 15px;
  border-top: transparent !important;
  padding-bottom: 10px;
}


.comtained:hover{opacity: 1;}
.user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
  list-style-type: none;
}

.post .post-comments .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}


/* HTML BUILDER */

.wrapper {
  position: relative;
  height: 100%;
}

pre {
  max-width: 30em;
  display: block;
  background: #000;
  color: white;
  padding: 0.5em;
  border: 1px solid black;
  word-break: break-all;
  word-wrap: break-word;
}


/* box */

.box-left {
  height: 100%;
  margin: 9;
  padding: 0.5rem;
  background: #fff;
}

.box-right {
  position: relative;
  width: 100%;
  height: calc(100% + 5em);
  margin: 0;
  margin-bottom: 1em;
  padding: 0.5rem;
  background: #f5f6f9;
  overflow-y: auto;
}


/* left boxes */

.box-left div {
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
  margin-bottom: 0.2em;
  text-align: center;
  line-height: 2rem;
  background: #2C3E50;
  color: white;
  cursor: all-scroll;
  margin-right: 10px;
}

.box-left div:hover. .box-left div:focus {
  background: #ecf0f1;
}

.reset,
.save {
  text-align: right;
  padding: 0.5em 1em;
  background: #2C3E50;
  color: white;
  margin: 0.8em 0.2em;
  cursor: pointer;
}

.reset:hover,
.save:hover,
.reset:focus,
.save:focus {
  background: #95a5a6;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 1111 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background: grey !important;
  display: block !important;
  padding: 0.5rem !important;
  text-align: center !important;
  line-height: 2rem !important;
  color: white !important;
  overflow:hidden;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  background: grey !important;
  line-height:1.2em;
  min-height:5em;
}
=======

.thebox{
	background-color: rgba(255,255,255, 0.6);
	border: 1px solid #efefef;
		
}

.makeBackgroundlight{ 
	padding:0;
	margin:0;
	width:100% !important;
	height:100%;
	overflow: hidden;
	background-color: rgba(255,255,255, 0.3);
}
