html, body{
  width:100%;
  height:100%;
}

.course-title-box{
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #F7F8FA;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
}

.flag{
    position: relative;
    top: -8px;
    width: 30px;
    height: 30px;
}

.course-title{
    font-size: 32px;
    display: inline;
    color: black;
    font-weight: bold;
}

.teacher{
    color: black;
    padding: 10px 0 10px 0;
}

.contact{
    color: #07A7DA;
    font-size: 14px;
}

.contentTeacherinfo {
  display: flex;
}

.contentTeacherinfo img {
  margin-right: 10px;
  display: block;
  width:5em;
  height:5em;
  border-radius: 20vw;
  margin-bottom: 2em;
}

.contentTeacherinfo div{
  margin-top: 1.5em;
  margin-left: 1em;
}

#inviteButton{
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #007fb2;
  color: #007fb2;
  margin-top: 1em;
}

.contentMembersSearch {
  display: flex;
}

.contentMembersSearch img {
  margin-right: 10px;
  display: block;
  width:3em;
  height:3em;
  border-radius: 20vw;
}

.contentMembersSearch span{
  margin-top: 0.5em;
  margin-left: 1em;
}

.contentMembersSearch div{
  margin-top: 1em;
  margin-left: 1em;
}
