
.profilepicleft > img {
	width: 150px;

	border-radius: 150px;
	/*box-shadow: 2px 2px #E0E0E0;*/
}

.profilepicleft{
	width: 150px;
	height: 150px;

	max-width:150px;
	max-height:150px;

	margin-right: auto;
	margin-left: auto;
	display: block;

	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 150px;
	box-shadow: 2px 2px #E0E0E0;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.profilepicbig{
	width: 150px;
	height: 150px;
	

	max-width:150px;
	max-height:150px;

	box-shadow: 2px 2px #E0E0E0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
