html, body{
  width:100%;
  height:100%;
}

.logo{
    display: inline;
    margin: 0 auto;
    width: auto;
    height: 44px;
    margin-bottom: -10px;
    margin-top: -15px;
}

.center {
  display: block;
  margin: 0 auto;
}

.searchbutton {
  border-radius: 18px 0 0 18px;
  display: inline;
  background-image: url('../img/search-icon.png');
  background-position: 6px 6px;
  background-repeat: no-repeat;
  background-color: #F7F8FA;
  width: 32px;
  height: 32px;
}

.searchbar {
  border-radius: 0 18px 18px 0;
  display: block;
  margin: 0 auto;
  border-style: none;
  background-color: #F7F8FA;
  width: 50%;
  height: 32px;
}

.icon {
  display: block;
  height: 32px;
  padding-right: 14px;
}

.nav-item{
    width: 120px;
    height: 50px;
    text-align: center;
}

.tab-title{
    width: 120px;
    height: 50px;
    padding-top: 14px;
    color: gray;
    font-size: 14px;
}

.tab-title:hover{
    color: gray;
    border: none;
    border-bottom: 4px solid;
}

#mytabs .active{
    color: black;
    border: none;
    background-color: #F7F8FA;
    padding-top: 12px;
    font-size: 20px;
    border-bottom: 2px solid #07A7DA;
}

.box-title{
    padding-top: -5px;
    padding-bottom: 15px;
    border-bottom: 2px solid lightgray;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

}

.course-box{
    margin-top: 20px;
}

.courses{
    padding-top: 10px;
}

.course-name{
    display: block;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.course-name:hover{
    color: black;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid lightgray;
}

.background{
    background-color: #F7F8FA;
}

.col-md-3, .col-md-6{
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 20px;
    background-color: #F7F8FA;
}

.cols{
    padding-left: 20px;
    padding-right: 20px;
}

.box{
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #F7F8FA;
    padding: 20px;
}

#tab-content .box{
    margin-left: -15px;
    margin-right: -15px;
}
